/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Apply Montserrat font to body */
body {
    font-family: 'Montserrat', sans-serif;
    background-color:#DBD9E1;
}



body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

/* Styles for the search bar */
#searchContainer {
  position: relative;
  display: inline-block;
 /* Add border radius */
 
}

#searchInput {
  padding: 15px;
  padding-right: 150px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  width: 250px;
  outline: none;
  transition: width 0.4s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#searchInput:focus {
  width: 350px;
}

#cancelButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
  color: black;
}

#searchContainer:hover #cancelButton,
#searchInput:focus + #cancelButton{
  opacity: 1;
  pointer-events: auto;
}

#suggestionList {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 513px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 2;
  overflow-y: auto;
  max-height: 200px;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  scrollbar-width: thin;
}

#suggestionList::-webkit-scrollbar {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

#suggestionList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 0 10px;
}

#suggestionList.show {
  opacity: 1;
  transform: scaleY(1);
}

#suggestionList li {
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

#suggestionList li:hover {
  background-color: #f2f2f2;
}

/* Other styles */

/* navbar starts */
header{
  /* position: fixed; */
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.2);

}


header .logo{
  margin-left:2cm;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0E2431;
}

header .logo i {
  font-size: 2.2rem;
}

header .logo:hover {
  color: #fc8c05;
}

header .navbar ul{
  margin-right:2cm;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar li{
  margin-left: 2.5rem;
}

header .navbar ul li a{
  font-size: 1.57rem;
  color: #0E2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: color 0.3s, padding 0.3s;
}
header .navbar ul li a:hover {
  color: #011aff; /* Change text color on hover */
  padding-top: 0.7rem; /* Increase top padding on hover */
  padding-bottom: 0.3rem; /* Decrease bottom padding on hover */
}
/* navbar ends */

/* Custom scrollbar styles */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 1px;
  border-radius: 5px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
/* end the scroll style  */

/* Basic styling */


.container {
    margin: 20px;
}

/* Styling for Basic Details section */
.basic-details {
    padding: 20px;
    margin-bottom: 20px;
    border-radius:10px;
    color:black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

}

.basic-details ul {
    list-style-type: none;
    padding: 0;
    border:2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

}

.basic-details li {
    margin-bottom: 10px;
}

/* Styling for Visualization sections */
.visualization-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    color:#D8D8D8;
}

.visualization-container select {
    margin-bottom: 10px;

}

.visualization-container canvas {
    width: 100%;
    height: auto;
}
.detail-container {
    display: flex;
    flex-wrap: wrap;

}

.detail-item {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width as per your requirement */
    border: 0.67px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px; /* Space between items */
    margin-bottom: 20px; /* Space between rows */
    box-sizing: border-box;
    background-color:#F2EDED;

}

.About {
flex: 0 0 calc(33.33% - 20px); /* Adjust the width as per your requirement */
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;/* Space between items */
    margin-bottom: 20px; /* Space between rows */
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    color:black;
}

/*  css for buttons in line chart */

#timeRangeSelector {
  display: flex;
  flex-wrap: wrap;
}

#timeRangeSelector .btn {
  margin-right: 7px;
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #5220AB ;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#timeRangeSelector .btn:hover {
  background-color: #0056b3;
}

#timeRangeSelector .btn.selected {
  background-color: #0056b3;
}
/*  css for buttons in line chart ends */

/* for the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid #ccc; /* Add border to the buttons */
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}
.show {
  display: block;
}
/* for the tab ends */ 