/* Styles for the search bar */
#searchContainer {
  position: relative;
  display: inline-block;
  border: 1px solid black; /* Add black border */
  border-radius: 20px; /* Add border radius */
}

#searchInput {
  padding: 15px;
  padding-right: 150px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  width: 250px;
  outline: none;
  transition: width 0.4s ease-in-out;
}

#searchInput:focus {
  width: 350px;
}

#cancelButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
  color: black;
}

#searchContainer:hover #cancelButton,
#searchInput:focus + #cancelButton{
  opacity: 1;
  pointer-events: auto;
}

#suggestionList {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 513px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 2;
  overflow-y: auto;
  max-height: 200px;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  scrollbar-width: thin;
}

#suggestionList::-webkit-scrollbar {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

#suggestionList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 0 10px;
}

#suggestionList.show {
  opacity: 1;
  transform: scaleY(1);
}

#suggestionList li {
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

#suggestionList li:hover {
  background-color: #f2f2f2;
}

/* Other styles */

/* navbar starts */
header{
  /* position: fixed; */
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: #e400d1;
  box-shadow: 0 1px 4px rgba(146,161,176,.3);
}

body {
  margin: 0;
  overflow-x: hidden; /* Remove horizontal scrollbar */
  background: whitesmoke; /* Add background color */
}

header .logo{
  margin-left:2cm;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0E2431;
}

header .logo i {
  font-size: 2.2rem;
}

header .logo:hover {
  color: #fc8c05;
}

header .navbar ul{
  margin-right:2cm;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar li{
  margin-left: 2.5rem;
}

header .navbar ul li a{
  font-size: 1.57rem;
  color: #0E2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
  color: #011aff;
  border-bottom: .2rem solid #011aff;
  padding: .5rem 0;
}
/* navbar ends */

/* Custom scrollbar styles */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
/* end the scroll style  */

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px;
}

/* Styling for Basic Details section */
.basic-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius:20px;
}

.basic-details ul {
    list-style-type: none;
    padding: 0;
    border:2px solid black;
}

.basic-details li {
    margin-bottom: 10px;
}

/* Styling for Visualization sections */
.visualization-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius:20px;
}

.visualization-container select {
    margin-bottom: 10px;
}

.visualization-container canvas {
    width: 100%;
    height: auto;
}
.detail-container {
    display: flex;
    flex-wrap: wrap;

}

.detail-item {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width as per your requirement */
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px; /* Space between items */
    margin-bottom: 20px; /* Space between rows */
    box-sizing: border-box;

}

.About {
flex: 0 0 calc(33.33% - 20px); /* Adjust the width as per your requirement */
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;/* Space between items */
    margin-bottom: 20px; /* Space between rows */
    box-sizing: border-box;
}

/*  css for buttons in line chart */

#timeRangeSelector {
  display: flex;
  flex-wrap: wrap;
}

#timeRangeSelector .btn {
  margin-right: 7px;
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #5220AB ;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#timeRangeSelector .btn:hover {
  background-color: #0056b3;
}

#timeRangeSelector .btn.selected {
  background-color: #0056b3;
}
/*  css for buttons in line chart ends */

/* for the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid #ccc; /* Add border to the buttons */
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}
.show {
  display: block;
}
/* for the tab ends */ 