@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(120deg, #007bff, #d0314c);
  height: 100vh;
  overflow: hidden;
}

/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .logo img {
    width: 80px; /* Adjust logo size for smaller screens */
  }

  nav ul {
    flex-direction: column; /* Stack navigation items vertically */
    text-align: center; /* Center text horizontally */
  }

  nav ul li {
    margin-left: 0; /* Remove margin between navigation items */
    margin-top: 10px; /* Add space between navigation items */
  }
}

/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  #searchContainer {
    left: 50%; /* Center search container */
    transform: translateX(-50%); /* Adjust horizontal position */
    width: 90%; /* Adjust search container width */
  }

  #searchInput {
    width: calc(100% - 100px); /* Adjust search input width */
    padding-right: 100px; /* Adjust padding to accommodate cancel button */
  }

  #cancelButton {
    right: 10px; /* Adjust cancel button position */
  }

  #suggestionList {
    width: 90%; /* Adjust suggestion list width */
    left: 5%; /* Center suggestion list */
  }
}

/* For screens smaller than 576px */
@media screen and (max-width: 576px) {
  #searchInput {
    width: calc(100% - 50px); /* Adjust search input width */
    padding-right: 50px; /* Adjust padding to accommodate cancel button */
  }
}


#searchContainer {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 60%; /* Adjust as needed */
  display: flex;
  border-radius:2px solid black;
  z-index: 1;
}


#searchInput {
  padding: 15px;
  padding-right: 150px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  width: 255px;
  outline: none;
  transition: width 0.4s ease-in-out;
}

#searchInput:focus {
  width: 350px;
  border-radius: 20px solid black;
}

#cancelButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
  color: black;
}

#searchContainer:hover #cancelButton,
#searchInput:focus + #cancelButton{
  opacity: 1;
  pointer-events: auto;
}
#suggestionList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 498px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 2;
    overflow-y: auto;
    max-height: 200px;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer and Edge */
}

#suggestionList::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit browsers (Chrome, Safari, etc.) */
}

#suggestionList.show {
  opacity: 1;
  transform: scaleY(1);
}

#suggestionList li {
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

#suggestionList li:hover {
  background-color: #f2f2f2;
}


/* loader start */
.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 100px;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: rgb(0, 0, 0);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(44, 143, 255);
  border-radius: 50%;
  -webkit-animation: ball624 4s infinite;
  animation: ball624 4s infinite;
}

@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(8px, -14px);
  }

  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }

  20% {
    transform: translate(30px, -20px);
  }

  27% {
    transform: translate(38px, -34px);
  }

  30% {
    transform: translate(45px, -30px);
  }

  37% {
    transform: translate(53px, -44px);
  }

  40% {
    transform: translate(60px, -40px);
  }

  50% {
    transform: translate(60px, 0);
  }

  57% {
    transform: translate(53px, -14px);
  }

  60% {
    transform: translate(45px, -10px);
  }

  67% {
    transform: translate(37px, -24px);
  }

  70% {
    transform: translate(30px, -20px);
  }

  77% {
    transform: translate(22px, -34px);
  }

  80% {
    transform: translate(15px, -30px);
  }

  87% {
    transform: translate(7px, -44px);
  }

  90% {
    transform: translate(0, -40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@-webkit-keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@-webkit-keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@-webkit-keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@-webkit-keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}
/* loader end */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative; /* Change from 'relative' to 'fixed' */
  top: 0;
  width: 100%; /* Ensure header spans the entire width of the viewport */
  z-index: 1;
}


.logo img {
  width: 100px; /* Adjust as needed */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007BFF;
}

.logo img {
  cursor: pointer;
  width: 30px;  /* adjust as needed */
  position: absolute;
  right: 50px;  /* adjust as needed */
}

.menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 50px;
  background-color: rgba(255, 255, 255, 0.8); /* Adjusted transparency */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease;
}

.menu button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu button:hover {
  background-color: #45a049;
}