<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="circle-top"></div>
<div class="circle-bottom"></div>
<header>
  <div class="header-content">
    <span>company management</span>
    <h1>Meet a team of experts and innovators who are pioneers in their field</h1>
  </div>
</header>
<section>
  <div class="card-top">
    <div class="card">
      <img src="https://avatars.githubusercontent.com/u/118875729?v=4" alt="Amit Jaishwal">
      <h2>Amit Jaishwal</h2>
      <p>Founder</p>
    </div>
    <div class="card">
      <img src="https://media.licdn.com/dms/image/D4D03AQFQnDLBRg7iww/profile-displayphoto-shrink_400_400/0/1707143377812?e=1715212800&v=beta&t=xetVHTNjbIHJmZ6mYo4XdOwzKClv7NwspASKgBJAHsI" alt="Laxman Acharya">
      <h2>Laxman Acharya</h2>
      <p>co-Founder</p>
    </div>
  </div>
  <div class="card">
    <img src="https://media.licdn.com/dms/image/D4D03AQHQjVT2jxbF2A/profile-displayphoto-shrink_400_400/0/1692275521633?e=1715212800&v=beta&t=hzIGTSsJ-YkqsqMmgh_FeYK_s--GAcok4Ky-Tmh8-ic" alt="Rohan Jadhav">
    <h2>Rohan Jadhav</h2>
    <p>Chief Process and Innovation Officer</p>
  </div>
  <div class="card">
    <img src="https://media.licdn.com/dms/image/D4D03AQGcwB9obnj-IA/profile-displayphoto-shrink_400_400/0/1698777155020?e=1715212800&v=beta&t=gjRY87hd89QYZ9Yk8Q7HMTefe1-9-8ZBnD8bF5BrvXU" alt="Matthew Foster">
    <h2>Subodh Salvi</h2>
    <p>Chief Sales Officer</p>
  </div>
  
</section>
</body>
</html>