<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="../static/image/logo_for_tab.png">
  <title>Stock Search</title>
</head>
<body>
    <div class="loader" id="loader">
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__ball"></div>
    </div>

    <img src="../static/image/com_name.png" id="companyLogo" alt="Company Logo">
    
    <section class="home" id="home">
      <div id="searchContainer">
        <input type="text" id="searchInput" >
        <div id="cancelButton">&#10006;</div>
        <ul id="suggestionList"></ul>
      </div>
    </section>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
  